.app{
    text-align: center;
    border: 2px solid black;
    width: 40%;
    height: auto;
    background-color: rgb(221, 182, 148);
}
img{
    width: 80%;
    height: auto;
}
/* 
.App{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
}
.active{
    color:coral;
}
.active:hover{
    color: green;
} */
